.footer {
  background-color: #0b2a37;
  display: flex;
  width: 100%;
  padding: 6.4% 9.3% 6% 9.3%;
  justify-content: space-between;
  .footer__logo {
    margin-bottom: 8.5%;
    &:hover{
      transition: all 0.3s;
      transform: scale(1.1)
    }
  }
  address {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    justify-content: space-between;
    width: 54.8%;
    & > a:hover {
      transition: all 0.3s;
      transform: scale(1.1)
    }
    strong {
      font-size: rem(22px);
      line-height: rem(26px);
      font-weight: 700;
    }
    p {
      font-size: rem(14px);
      line-height: rem(20px);
      padding-top: 3%;
    }
  }
  section nav {
    display: flex;
    flex-direction: column;
    line-height: rem(30px);
    a:hover {
        color: rgba(255, 255, 255, 0.527);
        transition: all 0.5s;
    }
    strong{
      font-size: rem(22px);
      line-height: rem(26px);
      font-weight: 700;
      margin-bottom: 2em;
    }
  }
}