@import "utils/vars";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.9% 2% 0 0;

  .header__logo {
    width: 16.2em;
    margin: 0 2em;
    &:hover {
      transition: all 0.3s;
      transform: scale(1.1);
    }
  }
  .header_btn {
    margin: 0 0.7% 0 0;
    line-height: rem(38px);
    font-weight: 700;
    border: 2px solid $mainFont;
    border-radius: 6px;
    &:hover {
      background: #ffffff;
      color: #0b2a37;
      transition: all 0.5s;
    }
    &.header__help {
      padding: 0 1%;
    }
    &.header__call {
      padding: 0 0.9%;
      margin-right: auto;
    }
  }
  //.fa-bars,
  //.header__menu {
  //  display: inline;
  //  cursor: pointer;
  //  &:hover {
  //    color: #0b2a37;
  //    transition: all 0.5s;
  //  }
  //}
  .header__log_in,
  .header__sign_up {
    line-height: rem(38px);
    text-align: right;
    padding-left: 3%;
    &:hover {
      color: #0b2a37;
      transition: all 0.5s;
    }
  }
  .menu {
    //display: flex;
    //flex-wrap: wrap;
    //align-items: center;
    cursor: pointer;
    align-items: center;
    a{
      display: flex;
      align-items: center;
    }
    &:hover .header__menu{
      display: flex;
    }
    &:hover > * {
      color: #0b2a37;
      transition: all 0.5s;
    }
    .header__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      right: 1%;
      padding-right: 7%;
      padding-left: 7%;
      position: absolute;
      line-height: 38px;
      background: rgba(0 ,0 , 0 , 0.5);
    }
    .fa-bars {
      margin: 0 0.4em 0 1.4em;
      font-size: rem(30px);
      transform: scaleX(1.18);
    }
  }
}
