@import "utils/vars";

.header {
  position: fixed;
  top:0;
  z-index: 100;
  width: 100%;
  min-width: 480px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5% 2% 1.5% 0;

  .header__logo {
    width: 16.2em;
    margin: 0 2em;

  }
  .header__logo2{
    display: none;
  }
  .header_btn {
    margin: 0 0.7% 0 0;
    line-height: rem(38px);
    font-weight: 700;
    border: 2px solid $mainFont;
    border-radius: 6px;
    white-space: nowrap;
    &:hover {

      background-color: rgba(221, 221, 221, 0.2);
      transition: all 0.5s;
    }
    &.header__help {
      padding: 0 1%;
    }
    &.header__call {
      padding: 0 0.9%;
      margin-right: auto;
    }
  }
  .header__log_in{
    //padding-right: 3%;
    margin-right: 3%; 
  }
  .header__log_in,
  .header__sign_up {
    line-height: rem(38px);
    text-align: right;
    //padding-left: 3%;
    margin-left: 3%; 
    &:hover {
      color: rgb(221, 221, 221);
      transition: all 0.5s;
    }
  }
  .menu {
    cursor: pointer;
    align-items: center;
    .menu_div{
      padding-right: 0.45em;
      display: flex;
      align-items: center;
      &:hover {
        color: rgb(221, 221, 221);
        transition: all 0.5s;
      }

    }
    &:hover .header__menu{
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s;
      border-radius: 3%;
    }

    .header__menu {
      margin-top: 1.4%;
      margin-right: 2%;
      right: 0;
      z-index: 5;
      overflow: hidden;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      visibility: hidden;
      opacity: 0.2;
      position: absolute;
      line-height: 38px;
      background: #a7a7a7;
      transition: all 0.3s ease-in;
      li{
        a{
          max-width: 100%;
          display: block;
          padding: 0 0.45em;
        }
        white-space: nowrap;
        box-sizing: border-box;

        text-align: center;
        &:hover{
          background-color: #939393;
        }
      }

    }
    .fa-bars {
      margin: 0 0.4em 0;
      font-size: rem(30px);
      transform: scaleX(1.18);
    }
  }
}

.header__white{
  padding-bottom: 0.7%;
  padding-top: 0.7%;
  background: white;
  & > a, nav > a, div.menu_div{
    color: #0b2a37;
  };
  & .header__log_in:hover,
  & .header__sign_up:hover, div.menu_div:hover{
    color: #0b2a37b0;
  }

  & button.header__help{
    display: none
  }
  & button.header__call{
    color: #005173;
    &:hover{
      opacity: 0.7;
    }
  }
  .header__logo{
    display: none;
  }
  .header__logo2{
    display: block;
    margin: 0 2em;

  }

}

.header.header__white div.menu_div:hover{
  color: #0b2a37b0;
}

.menu-hidden{
  visibility: hidden !important;
}

.menu-visible{
  visibility: visible !important;
  opacity: 1 !important;
}