@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


$fa-font-path: "~font-awesome/fonts";
@import '~@fortawesome/fontawesome-free/css/all.css';
$fa-font-path:        "../fonts" !default;


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  font-family: "Maven Pro";
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}


.header {
  max-width: 1400px;

}
header{
  .header__logo{
    width: 260px;
    height: 60px;
    float: left;
    margin-right: auto;
  }
  .header_btn{
    font-size: 16px;
    line-height: 38px;
    height: 40px;
    color: black;
    font-family: "Maven Pro";
    font-weight: 700;
    border: 2px solid black;
    border-radius: 6px;
    &.header__help{
      width: 165px;
    }
    &.header__call{
      width: 100px;
    }}
    .asd{

   
    .fa-bars, .header__menu{
      display: inline;


    }}
    .header__top{
      display: flex;
      //flex-wrap: wrap;
      background: rgb(122, 86, 158);
      
    }
  }

  .header__content{
    margin-top: 200px;
    text-align: center;
      h1{
        font-size: 80px;
        line-height: 100px;
        color: #8ae2e2;
        font-family: "Maven Pro";
        font-weight: 900;
        letter-spacing: 0.015em;
       //box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    p{
      font-size: 58px;
      line-height: 100px;
      color: #ffffff;
      font-family: "Maven Pro";
      font-weight: 900;
     //box-shadow: 0 0 3px rgba(0,0,0,0.2);
     &.p1{
      font-size: 26px;
      line-height: 38px;
      color: black;
      font-family: "Maven Pro";
      font-weight: 400;
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
     }
    }
  }
  


// Modules
// @import "modules/my-module.scss";
