@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

$fa-font-path: "~font-awesome/fonts";
@import "~@fortawesome/fontawesome-free/css/all.css";
$fa-font-path: "../fonts" !default;

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
button {
  color: $mainFontColor;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  max-width: $mainWidth;
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0 auto;
  transition: all 2s;
}

h2 {
  font-size: rem(80px);
  line-height: rem(100px);
  font-weight: 900;
}

h3 {
  font-size: rem(36px);
  line-height: rem(100px);
  color: #0b2a37;
  font-weight: 900;
  text-align: center;
}

.hidden {
  display: none;
}

.btn_top {
  display: none;
}
.main {
  margin-top: 16.5%;
  text-align: center;
  position: relative;

  h1 {
    font-size: rem(80px);
    line-height: rem(100px);
    color: #8ae2e2;
    font-weight: 900;
  }

  .main__find_guardian p {
    font-size: rem(58px);
    line-height: rem(100px);
    font-weight: 900;
    &:nth-child(2) {
      line-height: rem(70px);
      margin-bottom: 0.54em;
    }

    &:nth-child(3) {
      font-size: rem(26px);
      line-height: rem(38px);
      font-weight: 400;
      max-width: 57%;
      margin: 0 auto;

      span {
        color: #8ae2e2;
      }
    }
  }
}
.main__input_find {
  padding: 1% 10%;
  border-radius: 0.4em;
  font-size: rem(18px);
  line-height: rem(38px);
  font-weight: 700;
}

.main__form_find {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2.7%;
}
.main__btn_find {
  padding: 1% 3%;
  border-radius: 0.4em;
  background-color: #ff5151;
  font-size: rem(18px);
  line-height: rem(38px);
  font-weight: 700;
  display: inline-block;
  &:hover {
    background-color: #ff7676;
    transition: all 0.5s;
  }
}
.main__become {
  display: flex;
  padding: 2.1% 0;
  background: #eff7f7;
  justify-content: center;
  align-items: center;
  margin: 10.5% auto -0.2% auto;
  color: #0b2a37;
  a {
    color: #8ae2e2;
    text-decoration: underline;
  }
}
.main__specialist {
  background: #ffffff;
  position: relative;
  padding: 7% 0 10% 0;
  z-index: 2;

  h3 {
    padding: 0.3% 0 5% 0;
  }
  ul {
    margin: 0 auto;
    display: flex;
    color: #0b2a37;
    flex-wrap: wrap;
    width: 92%;
    height: 100%;
    justify-content: space-between;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      max-width: 22%;
      color: #0b2a37;
      &:nth-child(even) {
        strong {
          margin-bottom: 5%;
        }
      }
    }
  }
}

.img {
  position: relative;
  z-index: 1;
  margin-top: -8%;
}
.main__instruction {
  position: relative;
  z-index: 10;
  padding-bottom: 7.5%;
  background: #66cfcf;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  section {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
    padding: 8.5% 2% 0 4.1%;
    button {
      border: 2px solid $mainFontColor;
      border-radius: 4%;
      width: 48%;
      padding: 4% 0;
      margin-top: 11%;
      &:hover {
        background: #ffffff;
        color: #66cfcf;
        transition: all 0.5s;
      }
    }
  }
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 55%;
  li {
    img {
      height: auto;
    }
    .icons {
      padding-right: 4%;
      margin-top: -3%;
    }
    width: 100%;
    display: flex;
    align-items: start;
    margin-top: 17%;
    justify-content: flex-end;
    padding-right: 6%;
    article {
      max-width: 14em;
      text-align: start;
      p {
        font-size: rem(22px);
        line-height: rem(26px);
        font-weight: 700;
        padding-bottom: 4%;
      }
    }
  }
  & li:nth-child(even) {
    margin-top: -3%;
    padding-right: 20%;
    .arrow_left {
      margin: 3% 3% 0 0;
    }
    article {
      padding-right: 2.2%;
      text-align: right;
    }
    .main__cursor {
      padding-right: 2%;
    }
  }
  & li:nth-child(3) {
    margin-top: -3%;
    padding-right: 6%;
  }
  & li:nth-child(4) article {
    max-width: 16em;
  }
}
.img1 {
  position: relative;
  z-index: 1;
  margin-top: -15%;
}

.main__comment {
  background: #ffffff;
  color: #0b2a37;
  position: relative;
  z-index: 10;
  margin-top: -7.5%;
  padding-bottom: 3.5em;
  h3 {
    margin: 7.5% auto 0.5% auto;
    padding-top: 1.8em;
  }
  .all_comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    article {
      max-width: 28.3%;
      margin: 3.3% 2.5%;
      .comment {
        position: relative;
        background-color: #eff7f7;
        padding: 9% 4.5%;
      }
      .comment::after {
        content: "";
        position: absolute;
        bottom: -15%;
        right: 0;
        border-right: 2.6em solid #eff7f7;
        border-bottom: 1.8em solid transparent;
      }
      .avatar {
        border-radius: 50%;
        object-fit: cover;
        width: 3em;
        height: 3em;
        margin-left: 0.5em;
      }
      figure {
        display: flex;
        margin-top: 10%;
        justify-content: flex-end;
        text-align: end;
      }
    }
  }
}
.img2 {
  position: relative;
  z-index: 1;
  margin-top: -7.6%;
}

.menu__side {
  position: relative;
  background-color: #005173;
  background-repeat: no-repeat;
  background-position: right -14% bottom -41%;
  height: auto;
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  padding: 12.5% 0 12.5% 0;
  div {
    width: 60%;
    padding-left: 12%;
    padding-top: 5.5%;
    text-align: start;
  }
  aside button {
    border: 2px solid #ffffff;
    font-size: rem(18px);
    line-height: rem(38px);
    font-weight: 700;
    text-align: center;
    padding: 2% 6.8%;
    border-radius: 0.3em;
    margin-top: 7%;
    &:hover {
      background: #ffffff;
      color: #0b2a37;
      transition: all 0.5s;
    }
  }
  ul {
    width: 42%;
    display: flex;
    flex-direction: column;
    padding-left: 7.6%;
    li {
      text-align: start;
      span {
        font-weight: 900;
        color: #8ae2e2;
      }
    }
  }
}
.main__more {
  background-color: #ffffff;
  color: #0b2a37;
  padding-top: 1.8%;
  padding-bottom: 0.01em;
  h3 {
    font-size: rem(36px);
    line-height: rem(24px);
    font-weight: 700;
    text-align: center;
  }
  a {
    background-color: #ff5151;
    width: 209px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: rem(38px);
    font-weight: 700;
    margin: 3.6% auto;
    &:hover {
      background-color: #ff7676;
      transition: all 0.5s;
    }
  }
}

// Modules
// @import "modules/my-module.scss";
@import "header";
@import "footer";
@import "media";

//* {
//  border: 1px solid #f00 !important;
//}
